<script>
  google.charts.load('current', {
    'packages': ['sankey']
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'From');
    data.addColumn('string', 'To');
    data.addColumn('number', 'Weight');
    data.addRows([
      ['A', 'X', 5],
      ['A', 'Y', 7],
      ['A', 'Z', 6],
      ['B', 'X', 2],
      ['B', 'Y', 9],
      ['B', 'Z', 4],
      ['X', 'G', 3],
      ['Y', 'H', 2],
      ['Z', 'G', 6],
      ['X', 'H', 2],
      ['Y', 'G', 9]
    ]);

    // Sets chart options.
    var options = {
      // width: maxWidth,
    };

    // Instantiates and draws our chart, passing in some options.
    var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load("current", {
    packages: ["corechart"]
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Stock type', 'Volume'],
      ['Addition to stock', 11],
      ['Eat', 2],
      ['Commute', 2],
      ['Else', 3],
    ]);

    var options = {
      title: 'Circularity Gap',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>

<div class="columns is-12">

  <div class="column is-small is-8">
      <div id="sankey_basic" style="max-width: 100;"></div>

  </div>

  <div class="column is-small is-2">
      <div id="donutchart"></div>


  </div>

  <div class="column is-small is-2">
      <article class="panel ">
          <p class="panel-heading">
              Scenarios
          </p>
          <p class="panel-tabs">
              <a>Collaborative</a>
              <a>User's</a>
          </p>
          <div class="panel-block">
              <p class="control has-icons-left">
                  <input class="input is-info is-small" type="text" placeholder="Search">
                  <span class="icon is-left">
                      <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
              </p>
          </div>
          <a class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              Renewable Energy
          </a>
          <a class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              Sustainable mobility
          </a>
          <a class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              Vegan world
          </a>
          <a class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              0 poverty
          </a>
  </div>
</div>
</article>