<script>
  google.charts.load('current', {
    'packages': ['sankey']
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'From');
    data.addColumn('string', 'To');
    data.addColumn('number', 'Weight');
    data.addRows([
       [ 'Brazil', 'Portugal', 5 ],
       [ 'Brazil', 'France', 1 ],
       [ 'Brazil', 'Spain', 1 ],
       [ 'Brazil', 'England', 1 ],
       [ 'Canada', 'Portugal', 1 ],
       [ 'Canada', 'France', 5 ],
       [ 'Canada', 'England', 1 ],
       [ 'Mexico', 'Portugal', 1 ],
       [ 'Mexico', 'France', 1 ],
       [ 'Mexico', 'Spain', 5 ],
       [ 'Mexico', 'England', 1 ],
       [ 'USA', 'Portugal', 1 ],
       [ 'USA', 'France', 1 ],
       [ 'USA', 'Spain', 1 ],
       [ 'USA', 'England', 5 ],
       [ 'Portugal', 'Angola', 2 ],
       [ 'Portugal', 'Senegal', 1 ],
       [ 'Portugal', 'Morocco', 1 ],
       [ 'Portugal', 'South Africa', 3 ],
       [ 'France', 'Angola', 1 ],
       [ 'France', 'Senegal', 3 ],
       [ 'France', 'Mali', 3 ],
       [ 'France', 'Morocco', 3 ],
       [ 'France', 'South Africa', 1 ],
       [ 'Spain', 'Senegal', 1 ],
       [ 'Spain', 'Morocco', 3 ],
       [ 'Spain', 'South Africa', 1 ],
       [ 'England', 'Angola', 1 ],
       [ 'England', 'Senegal', 1 ],
       [ 'England', 'Morocco', 2 ],
       [ 'England', 'South Africa', 7 ],
       [ 'South Africa', 'China', 5 ],
       [ 'South Africa', 'India', 1 ],
       [ 'South Africa', 'Japan', 3 ],
       [ 'Angola', 'China', 5 ],
       [ 'Angola', 'India', 1 ],
       [ 'Angola', 'Japan', 3 ],
       [ 'Senegal', 'China', 5 ],
       [ 'Senegal', 'India', 1 ],
       [ 'Senegal', 'Japan', 3 ],
       [ 'Mali', 'China', 5 ],
       [ 'Mali', 'India', 1 ],
       [ 'Mali', 'Japan', 3 ],
       [ 'Morocco', 'China', 5 ],
       [ 'Morocco', 'India', 1 ],
       [ 'Morocco', 'Japan', 3 ]
    ]);

    // Sets chart options.
    var options = {

    };

    // Instantiates and draws our chart, passing in some options.
    var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load("current", {
    packages: ["corechart"]
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Stock type', 'Volume'],
      ['Waste Generation', 11],
      ['Stock Depletion', 2],
      ['Waste Recovery', 2],
      ['Circularity Gap', 8],
    ]);

    var options = {
      title: 'Circularity Gap',
      pieHole: 0.4,
      slices: {0: {offset:0.1}},
      pieSliceText: 'none',
      reverseCategories: 'true'
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>

<div class="columns is-12">

  <div class="column is-small is-7">
      <div id="sankey_basic" ></div>

  </div>

  <div class="column is-small is-3">
      <div id="donutchart" ></div>


  </div>

  <div class="column is-small is-2">
      <article class="panel ">
          <p class="panel-heading">
              Scenarios
          </p>
          <p class="panel-tabs">
            <a>User's <i class="fas fa-user" aria-hidden="true"></i></a> 
            <a>Collaborative <i class="fas fa-users" aria-hidden="true"></i></a>
          </p>
          <div class="panel-block">
              <p class="control has-icons-left">
                  <input class="input is-info is-small" type="text" placeholder="Search">
                  <span class="icon is-left">
                      <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
              </p>
          </div>
          <a class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              Renewable Energy
          </a>
          <a class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              Sustainable mobility
          </a>
          <a class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              Vegan world
          </a>
          <a class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              0 poverty
          </a>
  </div>
</div>
</article>