<div class="tabs is-centered is-boxed">
    <ul>
        <li class="is-active">
            <a>
                <span class="icon is-small"><i class="fas fa-cloud"></i></span>
                <span>GHG emissions</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-circle-notch"></i></span>
                <span>Circularity gap</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-tint"></i></span>
                <span>Water use</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-globe-africa"></i></span>
                <span>Land use</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-gem"></i></span>
                <span>Abiotic Extraction</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-tree"></i></span>
                <span>Biotic Extraction</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-users-cog"></i></span>
                <span>Labour</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-money-bill-wave-alt"></i></span>
                <span>Value added</span>
            </a>
        </li>
    </ul>
</div>