<div class="column is-small">
    <article class="panel ">
        <p class="panel-heading">
            Scenarios
        </p>
        <p class="panel-tabs">
            <a>User's <i class="fas fa-user" aria-hidden="true"></i></a>
            <a>Collaborative <i class="fas fa-users" aria-hidden="true"></i></a>
        </p>
        <div class="panel-block">
            <p class="control has-icons-left">
                <input class="input is-info is-small" type="text" placeholder="Search">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </p>
        </div>
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Renewable Energy
        </a>
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Sustainable mobility
        </a>
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Vegan world
        </a>
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            0 poverty
        </a>
    </article>
</div>