<table class="table">
    <thead>
        <tr>
            <th><abbr title="ScenarioName">Scenario Name</abbr></th>
            <th><abbr title="Position">Supplied product</abbr></th>
            <th><abbr title="Played">Supplying region</abbr></th>
            <th><abbr title="Won">Consumption agent</abbr></th>
            <th><abbr title="Drawn">Consumption region</abbr></th>
            <th><abbr title="Lost">Technical Change Coefficient</abbr></th>
            <th><abbr title="Goals for"> Market Penetration coefficient</abbr></th>
            <th>Explanation</th>
            <th>Citation</th>
        </tr>
    </thead>

    <tr>
        <td>Renewable energy</td>
        <td>Paddy rice</td>
        <td>China</td>
        <td>Food products nec</td>
        <td>EU</td>
        <td>-27%</td>
        <td>30%</td>
        <td>More efficient use of resource</td>
        <td>Link to publication</td>
    </tr>
    </tbody>
</table>