{% extends 'partials/_base.html' %}

{% block content %}

<section class="section">

    <div class="tabs is-centered is-boxed is-small">
        <ul>
            <li>
                <a>
                    <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                    <span>Hybrid tables</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                    <span>Monetary tables</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
                    <span>Scenario input tables</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="columns is-12">
        
        {% include 'partials/_charts.html' %}

        <div class="column is-small is-8">
            <div id="sankey_basic" style="max-width: 100;"></div>

        </div>

        <div class="column is-small is-2">
            <div id="donutchart"></div>


        </div>

        <div class="column is-small is-2">
            <article class="panel ">
                <p class="panel-heading">
                    Scenarios
                </p>
                <p class="panel-tabs">
                    <a>Collaborative</a>
                    <a>User's</a>
                </p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input is-info is-small" type="text" placeholder="Search">
                        <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    Renewable Energy
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    Sustainable mobility
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    Vegan world
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    0 poverty
                </a>
        </div>
    </div>
    </article>

</section>
<table class="table">
    <thead>
        <tr>
            <th><abbr title="Position">Pos</abbr></th>
            <th>Team</th>
            <th><abbr title="Played">Pld</abbr></th>
            <th><abbr title="Won">W</abbr></th>
            <th><abbr title="Drawn">D</abbr></th>
            <th><abbr title="Lost">L</abbr></th>
            <th><abbr title="Goals for">GF</abbr></th>
            <th><abbr title="Goals against">GA</abbr></th>
            <th><abbr title="Goal difference">GD</abbr></th>
            <th><abbr title="Points">Pts</abbr></th>
            <th>Qualification or relegation</th>
        </tr>
    </thead>

    <tr>
        <th>20</th>
        <td><a href="https://en.wikipedia.org/wiki/Aston_Villa_F.C." title="Aston Villa F.C.">Aston Villa</a>
            <strong>(R)</strong>
        </td>
        <td>38</td>
        <td>3</td>
        <td>8</td>
        <td>27</td>
        <td>27</td>
        <td>76</td>
        <td>−49</td>
        <td>17</td>
        <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship"
                title="2016–17 Football League Championship">Football League Championship</a></td>
    </tr>
    </tbody>
</table>

{% endblock %}