{% extends 'partials/_base.html' %}

{% block content %}

<section class="section">

    <div class="tabs is-centered is-boxed">
        <ul>
            <li id="HybTables" class="is-active">
                <a>
                    <span class="icon is-small"><i class="fas fa-cubes" aria-hidden="true"></i></span>
                    <span>Hybrid tables</span>
                </a>
            </li>
            <li id="MonTables">
                <a>
                    <span class="icon is-small"><i class="fas fa-euro-sign" aria-hidden="true"></i></span>
                    <span>Monetary tables</span>
                </a>
            </li>
        </ul>
    </div>

    </div>


    <div class="columns">

        <div class="column">
            <div>
                <div class="control has-icons-left">
                    <div class="select is-small">
                        <select>
                            <option selected>Supply chain</option>
                            <option>Select dropdown</option>
                            <option>With options</option>
                        </select>
                        <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                        </span>
                    </div>

                    <div class="select is-small">
                        <select>
                            <option selected>Country</option>
                            <option>Select dropdown</option>
                            <option>With options</option>
                        </select>
                        <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                        </span>
                    </div>
                    <button class="button is-success is-small is-hovered">Select</button>
                </div>
            </div>

            <div class="column" id="sankey_basic">
                {% include 'partials/_charts.html' %}
            </div>
        </div>

    </div>

</section>
<section class="section">
    <div class="tabs is-centered is-boxed">
        <ul>
            <li id="ScenInputTables">
                <a>
                    <span class="icon is-small"><i class="fas fa-folder" aria-hidden="true"></i></span>
                    <span>Scenario input tables</span>
                </a>
            </li>
            <li id="ScenInputTables">
                <a>
                    <span class="icon is-small"><i class="fas fa-users aria-hidden=" true"></i></span>
                    <span>Scenario Forum</span>
                </a>
            </li>
        </ul>
    </div>

    <div id='scenarios' style='display:none'>
        <div class="columns">
            <div class="column is-2">
                {% include 'partials/_scenarioMenu.html' %}
            </div>
            <div class="column is-10">
                {% include 'partials/_scenarioTable.html' %}
            </div>
        </div>
    </div>
</section>
<section class="section">
    {% include 'partials/_metrics.html' %}
</section>
</section>


{% endblock %}